.imgBox{
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    grid-template-columns: repeat(4,200px);
    gap: 10px;
    justify-content: center;
    padding: 10px;
   
}
.imgBox *{
    margin: auto;
}

.imgBox div{

    margin: auto;
}
.imgBox img { 
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
.btn{
    height: 45px;
    width: 93px;
    margin: 20px 0 0 50px;
    background-color:  #0458ff;
    color: #fff;
    border-radius: 5px;
    border-color: #fff;
}
.btn:hover{
    background-color: #55c2da;
}
@media (max-width: 600px) {
    .imgBox img { 
        height: 140px;
        width: 180px;
    }
    .btn{
        margin-bottom: 10px;
    }
}