.single{
    margin: 0 10px 10px 10px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.single img{
    height: 300px;
    height: 400px;
}
@media (max-width: 600px) {
    .single img{
        height: 200px;
        height: 200px;
    }
}